
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif
}

body {
  background-color: #cccecb;
}

.header {
  background-color: #6f6f6f;
  color: white;
  padding: 20px;
}

.header h1 {
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: 45px;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 18px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.header nav ul li a {
  color: white;
  text-underline-offset: 5px;
}

p {
  font-size: 16px;
}

 .hero {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 300px;
   margin-bottom: 30px;
   background-image: url("../images/hero.jpeg");
   background-size: cover;
   background-position: center;
 }

 .hero img {
  height: 200px;
  border-radius: 100px;
  margin-left: 35px;
 }
 
.hero .quote {
  display: flex;
  justify-content:flex-end;
  color: white;
  margin-right: 100px;
  margin-top: 125px;
 }

 .quote-text {
  font-size: 20px;
  line-height: 20px;
 }

 .quote-author {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 160px;
 } 

.title {
  border-right: solid 5px black;
  text-align: right;
  padding-right: 30px;
  width: 20vw;
}

.content {
  width: 80vw;
}

.title h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  padding-left: 15px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.about-me p {
  padding-left: 20px;
  line-height: 20px;
  width: 90%;
  font-size: 18px;
}

.my-work {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
 .project-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 .project-work a {
  border: solid 5px black;
  display: flex;
  min-height: 200px;
  min-width: 200px;
  margin: 1px;
  flex-basis: auto;
 }

 .project-work a:first-child {
  flex-basis: 80%;
  min-height: 300px;
 }

 .project-work a {
  color:rgb(153, 153, 153);
  display: flex;
  align-items: flex-end;
 }

 #project-1 {
  background-image: url(../images/horiseon-screenshot.jpg);
  background-repeat: none;
  background-size: cover;

 }
 #project-2,
 #project-3,
 #project-4,
 #project-5 {
  background-image: url(../images/loading.jpeg);
  background-position: center;
 }

.contact-me {
  padding-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contact-me nav { 
  margin-left: 20px;
}

.contact-me nav ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.contact-me nav ul li {
  font-size: 18px;
}
.contact-me nav ul li a {
  color:rgb(44, 44, 44);
  text-underline-offset: 3px;
}

footer{
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .header h1 {
    display: block;
    text-align: center;
  }
  .header nav {
    float: none;
    text-align: center;
  }

  .hero {
    flex-direction: column; 
    height: 100%;
  }

  .hero img {
    margin-top: 40px 0;
  }

  .hero .quote {
    margin: 10px auto;
  }

  .hero .quote-text {
    margin: 0 auto; 
  }

  .contact-me nav ul {
    display: block;
  }

}
