
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif
}

body {
  background-color: #cccecb;
}

.header {
  background-color: #6f6f6f;
  color: white;
  padding: 20px;
}

.header h1 {
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: 45px;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 18px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.header nav ul li a {
  color: white;
  text-underline-offset: 5px;
}

p {
  font-size: 16px;
}

 .hero {
   height: 300px;
   margin-bottom: 30px;
   background-image: url("../images/hero.jpeg");
   background-size: cover;
   background-position: center;
 }
 
.hero .quote {
  display: flex;
  justify-content: end;
  color: white;
  margin-right: 50px;
  margin-top: 160px;
 }

 .quote-text {
  line-height: 20px;
 }

 .quote-author {
  margin-top: 15px;
  margin-left: 130px;
 } 

.title {
  border-right-width: 5px;
  border-right-style: solid;
  text-align: right;
  padding-right: 30px;
  width: 30vw;
}

.content {
  width: 70vw;
}

.title h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  padding-left: 15px;

}

.about-me {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.about-me p {
  padding-left: 20px;
  line-height: 20px;
  width: 90%;
  font-size: 18px;
}

.my-work {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.project-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-work a {
  color: black;
  background-color: #cccecb;
  border-style: solid;
  border-color:black;
  border-width: 5px;
  display: flex;
  flex-basis: 30%;
  align-items: flex-end;
  min-height: 200px;
  max-height: 250px;
  padding-bottom: 20px;
}

.project-work a:first-child {
flex-basis: 60%;
min-height: 250px;
}

#project-1 {
  background-image: url("../images/horiseon-screenshot.jpg");
  background-size: calc(120%);
  background-repeat: none;
}

#project-2 {
  background-image: url("../images/loading.jpeg");
  background-position: center;
  background-size: cover
}

#project-3 {
  background-image: url("../images/loading.jpeg");
  background-position: center;
  background-size: cover;
}

#project-4 {
  background-image: url("../images/loading.jpeg");
  background-position: center;
  background-size: cover;
}

#project-5 {
  background-image: url("../images/loading.jpeg");
  background-position: center;
  background-size: cover;
}

.contact-me {
  padding-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contact-me nav { 
  margin-left: 20px;
}

.contact-me nav ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.contact-me nav ul li {
  font-size: 18px;
}
.contact-me nav ul li a {
  color:rgb(44, 44, 44);
  text-underline-offset: 3px;
}

footer{
  font-size: 10px;
  text-align: center;
}