
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(214, 212, 212)
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  background-color: rgb(74, 73, 73);
  color: rgb(243, 249, 250);
  padding: 10px;
 }

 .header h1 {
  color: white;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 3px;
  font-size: 36px;
 }

 .header nav {
  margin: 15px;
 }

 .header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
 }

 .header nav ul li a {
  color: white;
  font-size: 17px;
  margin-right: 4px;
  margin-left: 4px;
  text-underline-offset: 5px;
 }

 .hero {
  background-image: url("../images/hero.jpeg");
  height: 275px;
  background-size: cover;
  background-position: center;
  background-repeat: none;
 }

.hero .quote {
  display: flex;
  justify-content: end;
  color: white;
  margin-right: 50px;
  margin-top: 160px;
 }

 .quote-text {
  line-height: 20px;
 }

 .quote-author {
  margin-top: 15px;
  margin-left: 130px;
 } 

.title {
  border-right-width: 5px;
  border-right-style: solid;
  text-align: right;
  padding-right: 30px;
  
}

.title h2 {
  font-size: 40px;
  padding-left: 15px;
}

.about-me{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.about-me p {
  padding-left: 20px;
  line-height: 20px;
  width: 90%;
  font-size: 18px;
}

.my-work {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.grid {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 600px;
}

.grid-project {
 width: 70%;
 display: flex;

}

.project {

}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.footer-content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center
}



